*{
    font-family: 'Times New Roman';
    /* margin: 0; これを入れるとmarginを調整しやすくなる。
    h3とpではdefaultのmarginが異なるから調整しにくい*/
}

.profile{
    float: left;
    border: 1px solid gray;
    border-radius: 5% 5% 0% 0%;
    margin: 10px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .5);
}

img{
    width: 200px;
    height: 200 px;
    border-bottom: 1px solid gray;
    border-radius: 5% 5% 0% 0%;
    padding: 10px;
}

.profile1{
    background-color: rgb(58, 58, 127);
}

.profile2{
    background-color: rgb(103, 137, 51);
}

h3{
    margin: 10px;
}

p{
    margin: 15px 10px; 
}